In [ ]:
# Changing to one hot encoding
# Define all possible categories
Q3_categories = ["Week day lunch", "Week day dinner", "Weekend lunch", "Weekend dinner", "At a party", "Late night snack"]
Q6_categories = [
    "soda", "other", "tea", "alcohol", "water", "soup", "juice", "milk", 
    "unknown", "smoothie", "asian alcohol", "asian pop", "milkshake"
]
Q7_categories = ["Parents", "Siblings", "Friends", "Teachers", "Strangers"]
Q8_categories = ["None", "A little (mild)", "A moderate amount (medium)", "A lot (hot)", "I will have some of this food item with my hot sauce"]

# Create binary features for each category
import pandas as pd
import numpy as np

def one_hot_encode(response_str, categories):
    result = np.zeros(len(categories))
    if isinstance(response_str, str):  # Check if it's a string (not NaN)
        selections = response_str.split(',')
        for i, category in enumerate(categories):
            if category in selections:
                result[i] = 1
    return result

In [9]:
# Load data
data = pd.read_csv("cleaned_data.csv")
data.describe()

                  id           Q1           Q2
count    1644.000000  1644.000000  1643.000000
mean   581970.958029     3.174574     6.037127
std    125479.145414     1.021050     2.923167
min      5978.000000     1.000000     0.000000
25%    524483.750000     2.000000     4.000000
50%    617502.000000     3.000000     5.000000
75%    631686.250000     4.000000     7.000000
max    854745.000000     5.000000    25.000000

In [ ]:
data = pd.read_csv("cleaned_data.csv")

q3 = data["Q3"]
q6 = data["Q6"]
q7 = data["Q7"]
q8 = data["Q8"]

# One hot encode the columns
q3_encoded = np.array([one_hot_encode(response, Q3_categories) for response in q3])
q6_encoded = np.array([one_hot_encode(response, Q6_categories) for response in q6])
q7_encoded = np.array([one_hot_encode(response, Q7_categories) for response in q7])
q8_encoded = np.array([one_hot_encode(response, Q8_categories) for response in q8])

# Create new columns
for i, category in enumerate(Q3_categories):
    data[category] = q3_encoded[:, i]
for i, category in enumerate(Q6_categories):
    data[category] = q6_encoded[:, i]
for i, category in enumerate(Q7_categories):
    data[category] = q7_encoded[:, i]
for i, category in enumerate(Q8_categories):
    data[category] = q8_encoded[:, i]

       id  Q1   Q2                                                 Q3   Q4  \
0  716549   3  6.0         Week day lunch,At a party,Late night snack   $5
1  715742   4  2.0         Week day lunch,At a party,Late night snack   $5
2  727333   3  5.0  Week day lunch,Week day dinner,Weekend lunch,W...  $10
3  606874   4  6.0  Week day lunch,Week day dinner,Weekend lunch,W...   $3
4  505318   2  3.0  Week day lunch,Week day dinner,Weekend lunch,W...   $5

                                  Q5     Q6                          Q7  \
0  Cloudy With A Chance Of Meatballs   soda                     Friends
1                                NaN   soda  Friends,Teachers,Strangers
2                       Action Movie   soda                     Friends
3                          Mamma Mia  other   Siblings,Friends,Teachers
4  Cloudy With A Chance Of Meatballs  other            Siblings,Friends

                                                  Q8  Label  ...  Parents  \
0                                    A little (mild)  Pizza  ...      0.0
1                                                NaN  Pizza  ...      0.0
2                         A moderate amount (medium)  Pizza  ...      0.0
3  I will have some of this food item with my hot...  Pizza  ...      0.0
4                                    A little (mild)  Pizza  ...      0.0

   Siblings  Friends  Teachers  Strangers  None  A little (mild)  \
0       0.0      1.0       0.0        0.0   0.0              1.0
1       0.0      1.0       1.0        1.0   0.0              0.0
2       0.0      1.0       0.0        0.0   0.0              0.0
3       1.0      1.0       1.0        0.0   0.0              0.0
4       1.0      1.0       0.0        0.0   0.0              1.0

   A moderate amount (medium)  A lot (hot)  \
0                         0.0          0.0
1                         0.0          0.0
2                         1.0          0.0
3                         0.0          0.0
4                         0.0          0.0

   I will have some of this food item with my hot sauce
0                                                0.0
1                                                0.0
2                                                0.0
3                                                1.0
4                                                0.0

[5 rows x 39 columns]

In [ ]:
# Check the data
data.head()

,id,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Label,...,Parents,Siblings,Friends,Teachers,Strangers,None,A little (mild),A moderate amount (medium),A lot (hot),I will have some of this food item with my hot sauce
0,716549,3,6.0,"Week day lunch,At a party,Late night snack",$5,Cloudy With A Chance Of Meatballs,soda,Friends,A little (mild),Pizza,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,715742,4,2.0,"Week day lunch,At a party,Late night snack",$5,NaN,soda,"Friends,Teachers,Strangers",NaN,Pizza,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,727333,3,5.0,"Week day lunch,Week day dinner,Weekend lunch,W...",$10,Action Movie,soda,Friends,A moderate amount (medium),Pizza,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,606874,4,6.0,"Week day lunch,Week day dinner,Weekend lunch,W...",$3,Mamma Mia,other,"Siblings,Friends,Teachers",I will have some of this food item with my hot...,Pizza,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,505318,2,3.0,"Week day lunch,Week day dinner,Weekend lunch,W...",$5,Cloudy With A Chance Of Meatballs,other,"Siblings,Friends",A little (mild),Pizza,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0